@charset "gb2312";
/*####################################################
    FONT CSS：字体大小文件
	布景名称：IMAGO09 BLOG风格版
	发布站点：http://www.imagocn.net/theme/
	站点名称：IMAGO:THEMES 
	制作者：MACLINKS
	发布日期：2005.01.10
	联系方式: maclinks@imagocn.net
	说明：如果您修改了我们的样式风格，请保留该处信息
	      以示对我们的支持！
	声明：该布景仅限用于个人及公益网站，商业站点请与
	      我们联系商业授权事宜。
  ###################################################*/
  
/* -----[   默认CLASS  ]-----*/

body {	font-size: 12px;}
td { font-size: 12px;}
input { font-size : 12px;}
textarea { font-size: 12px;}
select { font-size: 12px; } 

/*----[ 页面定位 ]-----*/
.pageTitle{font-size: 14px;}

/*-----[ 页面宽度 ]-----*/


/*-----[ 页首定位 ]-----*/


/*-----[ 自定菜单 ]-----*/


/*-----[ 页面主体 ]-----*/
/* 区块总体 */

/* 左区块 */


/* 右区块 */


/* 中中区块 */


/* 中左区块 */


/* 中右区块 */

/* 主要内容 */


/*-----[ 页脚定位 ]-----*/


/*-----[ 主要菜单 ]-----*/


/*-----[ 用户菜单 ]-----*/




/*-----[ 消息 ]-----*/


/*-----[ 代码与引用 ]-----*/


/*-----[ 模组全局 ]-----*/
.itemHead {	font-size:10.5pt;}
.itemTitle a { font-size:10.5pt; }
.itemTitle a:hover { font-size:10.5pt; }

/*-----[ 评论(论坛)全局 ]-----*/



/*-----[ 表格交替 ]-----*/
